//=========================================================================
//Var 

$font-family-default: "Roboto", sans-serif;
$font-size-default: .9380em;
$line-height-default: 1.6670em;

$canvas-max-width: 125.000rem;
$canvas-min-width: 20.000rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-bolder: 900;

$color-primary: #FFFFFF;
$color-primary-1: #eeeeee;
$color-primary-2: #999999;
$color-primary-3: #222222;
$color-primary-4: #212121;
$color-primary-5: #202020;
$color-primary-6: #070716;
$color-primary-7: #000000;

$color-secondary: #1EACC7; 
$color-secondary-1: #1CA8C3;
$color-secondary-2: #1FBAD6;
$color-secondary-3: #FF5656;